.remove-omr-btn {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 2;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: red;
  color: white;
  opacity: 0; /* Initially hidden */
  z-index: 20;
  transition: opacity 0.2s ease;
}

.remove-omr-btn:hover {
  opacity: 1;
}

.vertical-omr-line {
  position: absolute;
  background-color: rgb(78, 186, 78);
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 600px;
  height: 0.5px;
  top: 0%;
  left: -300px;
}

.horizontal-omr-line {
  position: absolute;
  background-color: rgb(78, 186, 78);
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 0.5px;
  height: 600px;
  bottom: -300px;
  left: 0%;
}

.span-msg {
  font-size: small;
  color: red;
  margin: 0;
  font-weight: bold;
}