.vertical {
    position: fixed; /* Use fixed positioning so it doesn't scroll with the content */
    background-color: #000; /* Change this to the color you desire */
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 20vw; /* Set width to 100% of viewport width */
    height: 1px;
    bottom:5%;
    left: 0; /* Position it at the left edge of the viewport */
}
  
  
  
  
  
  .horizontal {
    position: absolute;
    background-color: #000; /* Change this to the color you desire */
    opacity: 1; /* Start with 0 opacity */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    width: 1px;
    height: 50vh;
    left:0%; 
  
  }
  .field-box{
    padding: 0;
  }

  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: red;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease;
  }