.vertical-id {
    position: absolute;
    background-color: #000; /* Change this to the color you desire */
    opacity: 1; /* Start with 0 opacity */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    width: 300px;
    height: 1px;
    bottom:0;
    left:100%;  
    /* right:0; */
  }
  
  
  
  
  
  .horizontal-id {
    position: absolute;
    background-color: #000; /* Change this to the color you desire */
    opacity: 1; /* Start with 0 opacity */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    width: 1px;
    height: 300px;
    right:0%;
    bottom:0% 
  
  }

  .cell-box{
    padding: 0;
  }

  
.roll {
    margin:0;
  }
  
.add-cell-btn {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: green;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease;
    font-size:x-large;
  
  }
  
  
  .remove-cell-btn {
    position: absolute;
    bottom: -15px;
    right: 25px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: blue;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease;
    font-size:x-large;
  
  }
  
  
  .remove-btn:hover {
    opacity: 1; /* Show on hover */
  }
  .add-cell-btn:hover {
    opacity: 1; /* Show on hover */
  }
  
  .remove-cell-btn:hover {
    opacity: 1; /* Show on hover */
  }


  .remove-id-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: red;
    color: white;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease;
  }

  
.remove-id-btn:hover {
  opacity: 1; /* Show on hover */
}