.form-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6528F7;
}
.area{
  position: relative;
  width: 1300px;
  height: 690px;
  background-color:white;
  margin: 0 auto;
}



.box {
  position:absolute;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}


.add-button {
  position: absolute;
  height: 10px;
  width: 10px;
  align-items: center;
  align-content: center;
  border: none;
  line-height: 10px; /* Added line-height to vertically center the content */

  background-color: #27ae60;
  color: white;
  cursor: pointer;
}

.right {
  top: 50%;
  left: 100%;
  opacity: 0;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.right:hover{
  opacity: 1;
}
.bottom {
  left: 50%;
  top: 100%;
  opacity: 0;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.bottom:hover
{
  opacity: 1;
}





#Draggable{
  background: rgba(1, 1, 1, 0.2);

  cursor: col-resize;
  height: 100%;
  width: 5px;
  position: absolute;
  opacity: 0;
  left: 100%;
  z-index: 2;
}

#Draggable:hover{
  opacity: 1;
}


#Draggable2{
  background: rgba(1, 1, 1, 0.2);

  cursor: col-resize;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0%;
  z-index: 2;
}

#Draggable2:hover{
  opacity: 1;
}





.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  position: absolute;
  background-color: white;
  margin: 0;
  top:0;
  left:0;
}
.omr-box{
  width: 50px;
  display: flex;

  font-size: 16px;
  cursor: move;
}

.add-box-btn {
  position: absolute;
  height: 40px;
  width: 100px;
  top: 10%;
  left: 88vw;
  padding: 8px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.add-omr-btn {
  position: absolute;
  height: 40px;
  width: 100px;
  top: 0;
  left: 88vw;
  padding: 8px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.add-free-btn {
  position: absolute;
  height: 40px;
  width: 100px;
  top: 10vw;
  left: 88vw;
  padding: 8px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.download-button{
  position: relative;
  height: 40px;
  width: 100px;
  top: 10vw;
  left:3vw;
  padding: 8px;
  cursor: pointer;
  background-color: #E7B10A;
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Increase z-index value */
}

.weight-popup {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999; 
}





