.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-button{
  position: relative;
  left:23vw;
  padding-top: 5px;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

.error-msg {
  display: block;
  margin-left: 180px;
  color: red;
  font-size: small;
}